/* Logo styling */

body {
    font-family: 'Helvetica Neue', sans-serif;
}

#draw-shapes {
    width: 100%;
    height: 100%;
    -webkit-animation-name: color-change;
        animation-name: color-change;
    -webkit-animation-duration: 0s;
        animation-duration: 0s;
    -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
        animation-direction: alternate;
    /*Set our animation play state to paused initially */
    -webkit-animation-play-state: running;
        animation-play-state: running;
}

@-webkit-keyframes color-change {
    0% {background: #e3e3e3;}
    25% {background: #36F2B8;}
    50% {background: #58585B;}
    75% {background: #C1B257;}
    100% {background: #FF5185;}
}

@keyframes color-change {
    0% {background: #e3e3e3;}
    25% {background: #36F2B8;}
    50% {background: #58585B;}
    75% {background: #C1B257;}
    100% {background: #FF5185;}
}

/* Audio styling */

#controls {
    position:absolute;
    background-color: #000;
    top: 48px;
    left: 0;
    z-index: 999;
    opacity: 0.8;
}

#info {
    position:absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, 0);
    /*right:10px;*/
    /*width:250px;*/
    /*height: 150px;*/
    z-index: 999;
    font-size: 15px;
}
